* **Author**: Patrick Earl
* *Major*: CS
* **Creation Date**: 03/28
* Due Date: N/A
* Course: CSC223
* Professor Name: Me
* Assignment Number: N/A
* Filename: CSV Example - 020.ipynb
* Purpose: Show using read_csv to create a dataframe

1. Item One
2. Item Two
3. Item Three

Author: Name Here

Assignment: N/A

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('2921217.csv')
df.head()

       STATION                     NAME        DATE  PRCP  SNOW  SNWD
0  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-01  0.04   NaN   NaN
1  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-02  0.71   NaN   NaN
2  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-03  0.00   0.0   NaN
3  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-04  0.00   0.0   NaN
4  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-05  0.00   0.0   NaN

In [4]:
# Fill NaN values with 0
df = df.fillna(0)
df.head()

       STATION                     NAME        DATE  PRCP  SNOW  SNWD
0  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-01  0.04   0.0   0.0
1  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-02  0.71   0.0   0.0
2  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-03  0.00   0.0   0.0
3  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-04  0.00   0.0   0.0
4  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-05  0.00   0.0   0.0

In [5]:
df['PRCP'] = df['PRCP'] * 25.4

In [6]:
df.head()

       STATION                     NAME        DATE    PRCP  SNOW  SNWD
0  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-01   1.016   0.0   0.0
1  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-02  18.034   0.0   0.0
2  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-03   0.000   0.0   0.0
3  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-04   0.000   0.0   0.0
4  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-05   0.000   0.0   0.0

In [7]:
df['PRCP'].max()

48.26

In [10]:
df = df.set_index('DATE')
df.head()

                STATION                     NAME    PRCP  SNOW  SNWD
DATE
2022-01-01  US1PABR0012  KUTZTOWN 2.2 NNE, PA US   1.016   0.0   0.0
2022-01-02  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  18.034   0.0   0.0
2022-01-03  US1PABR0012  KUTZTOWN 2.2 NNE, PA US   0.000   0.0   0.0
2022-01-04  US1PABR0012  KUTZTOWN 2.2 NNE, PA US   0.000   0.0   0.0
2022-01-05  US1PABR0012  KUTZTOWN 2.2 NNE, PA US   0.000   0.0   0.0

In [14]:
df = df.sort_index(ascending=False)
df.head()

                STATION                     NAME    PRCP  SNOW  SNWD
DATE
2022-03-24  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  10.668   0.0   0.0
2022-03-23  US1PABR0012  KUTZTOWN 2.2 NNE, PA US   0.000   0.0   0.0
2022-03-22  US1PABR0012  KUTZTOWN 2.2 NNE, PA US   0.000   0.0   0.0
2022-03-21  US1PABR0012  KUTZTOWN 2.2 NNE, PA US   0.000   0.0   0.0
2022-03-20  US1PABR0012  KUTZTOWN 2.2 NNE, PA US   2.286   0.0   0.0

In [15]:
del df['STATION']
del df['NAME']
df.head()

              PRCP  SNOW  SNWD
DATE
2022-03-24  10.668   0.0   0.0
2022-03-23   0.000   0.0   0.0
2022-03-22   0.000   0.0   0.0
2022-03-21   0.000   0.0   0.0
2022-03-20   2.286   0.0   0.0