* **Author**: Patrick Earl
    * This would be indented
* *Major*: CS
* **Creation Date**: 03/28
* Due Date: N/A
* Course: CSC223
* Professor Name: Me
* Assignment: N/A
* Filename: CSV Example - 010.ipynb

1. Item One
2. Item Two
3. Item three

In [2]:
# Import the science libaries
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv('2921217.csv')
df.head()

       STATION                     NAME        DATE  PRCP  SNOW  SNWD
0  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-01  0.04   NaN   NaN
1  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-02  0.71   NaN   NaN
2  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-03  0.00   0.0   NaN
3  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-04  0.00   0.0   NaN
4  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-05  0.00   0.0   NaN

In [20]:
df = df.fillna(0)
df.head()

       STATION                     NAME        DATE  PRCP  SNOW  SNWD
0  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-01  0.04   0.0   0.0
1  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-02  0.71   0.0   0.0
2  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-03  0.00   0.0   0.0
3  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-04  0.00   0.0   0.0
4  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-05  0.00   0.0   0.0

In [21]:
df['PRCP'].mean()

0.10084337349397589

In [22]:
df['PRCP'] = df['PRCP'] * 25.4

In [23]:
df.head()

       STATION                     NAME        DATE    PRCP  SNOW  SNWD
0  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-01   1.016   0.0   0.0
1  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-02  18.034   0.0   0.0
2  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-03   0.000   0.0   0.0
3  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-04   0.000   0.0   0.0
4  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-05   0.000   0.0   0.0

In [25]:
df = df.set_index('DATE')
df.head()

KeyError: "None of ['DATE'] are in the columns"

In [26]:
del df['NAME']
del df['STATION']

df.head()

              PRCP  SNOW  SNWD
DATE
2022-01-01   1.016   0.0   0.0
2022-01-02  18.034   0.0   0.0
2022-01-03   0.000   0.0   0.0
2022-01-04   0.000   0.0   0.0
2022-01-05   0.000   0.0   0.0

In [29]:
df = df.sort_index(ascending=False)

In [30]:
df.head()

              PRCP  SNOW  SNWD
DATE
2022-03-24  10.668   0.0   0.0
2022-03-23   0.000   0.0   0.0
2022-03-22   0.000   0.0   0.0
2022-03-21   0.000   0.0   0.0
2022-03-20   2.286   0.0   0.0