In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('2921217.csv')
df.head()

       STATION                     NAME        DATE  PRCP  SNOW  SNWD
0  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-01  0.04   NaN   NaN
1  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-02  0.71   NaN   NaN
2  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-03  0.00   0.0   NaN
3  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-04  0.00   0.0   NaN
4  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-05  0.00   0.0   NaN

In [9]:
df = df.fillna(0)
df.head()

       STATION                     NAME        DATE  PRCP  SNOW  SNWD
0  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-01  0.04   0.0   0.0
1  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-02  0.71   0.0   0.0
2  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-03  0.00   0.0   0.0
3  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-04  0.00   0.0   0.0
4  US1PABR0012  KUTZTOWN 2.2 NNE, PA US  2022-01-05  0.00   0.0   0.0

In [12]:
df['PRCP'].mean()

0.10084337349397589

In [13]:
df['PRCP'] = df['PRCP'] * 25.4

In [14]:
df['PRCP']

0      1.016
1     18.034
2      0.000
3      0.000
4      0.000
       ...
78     2.286
79     0.000
80     0.000
81     0.000
82    10.668
Name: PRCP, Length: 83, dtype: float64