In [1]:
import datetime as dt
import numpy as np
import pandas as pd

In [2]:
date = dt.datetime(year=2012, month=12, day=21)
date

datetime.datetime(2012, 12, 21, 0, 0)

In [3]:
date.day

21

In [5]:
from dateutil import parser

date = parser.parse('4th of July, 2015')

In [6]:
# 01/01/2001
# 01/02/2001
# July 4th, 2015
date

datetime.datetime(2015, 7, 4, 0, 0)

In [7]:
date.strftime('%A')

'Saturday'

In [8]:
date.strftime('%b %d, %Y')

'Jul 04, 2015'

In [9]:
date = np.array('2012-12-21', dtype=np.datetime64)
date

array('2012-12-21', dtype='datetime64[D]')

In [10]:
date + np.arange(12)

array(['2012-12-21', '2012-12-22', '2012-12-23', '2012-12-24',
       '2012-12-25', '2012-12-26', '2012-12-27', '2012-12-28',
       '2012-12-29', '2012-12-30', '2012-12-31', '2013-01-01'],
      dtype='datetime64[D]')

In [11]:
date = pd.to_datetime('4th of July, 2015')
type(date)

pandas._libs.tslibs.timestamps.Timestamp

In [12]:
date

Timestamp('2015-07-04 00:00:00')

In [13]:
date.strftime('%A')

'Saturday'

In [14]:
date + pd.to_timedelta(np.arange(12), 'D')

DatetimeIndex(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
               '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
               '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
              dtype='datetime64[ns]', freq=None)

In [15]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04',
                          '2015-07-04', '2015-08-04'])

In [16]:
data = pd.Series([0, 1, 2, 3], index=index)
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [17]:
data['2014-08-04':'2015-07-04']

2014-08-04    1
2015-07-04    2
dtype: int64

In [18]:
data.loc["2015"]

2015-07-04    2
2015-08-04    3
dtype: int64